span.tri {
  display: inline-block; }

div.tri {
  display: block; }

.tri.md.up {
  width: 0;
  height: 0;
  border-top: 0 solid transparent;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid; }

.tri.md.down {
  width: 0;
  height: 0;
  border-top: 100px solid;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 0 solid transparent; }

.tri.sm.down {
  width: 0;
  height: 0;
  border-top: 50px solid;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 0 solid transparent; }

.tri.sm.up {
  width: 0;
  height: 0;
  border-top: 0 solid transparent;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid; }

.tri.xs.down {
  width: 0;
  height: 0;
  border-top: 24px solid;
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  border-bottom: 0 solid transparent; }

.tri.xs.up {
  width: 0;
  height: 0;
  border-top: 0 solid transparent;
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  border-bottom: 24px solid; }

.tri.xxs.down {
  width: 0;
  height: 0;
  border-top: 16px solid;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 0 solid transparent; }

.tri.xxs.up {
  width: 0;
  height: 0;
  border-top: 0 solid transparent;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid; }

.tri.up.red {
  border-bottom-color: #ab0520; }

.tri.down.red {
  border-top-color: #ab0520; }

.tri.up.blue {
  border-bottom-color: #0c234b; }

.tri.down.blue {
  border-top-color: #0c234b; }

.block-frame {
  text-align: center; }
  .block-frame .center {
    margin-left: auto;
    margin-right: auto; }

.block-frame-before, .block-frame-after {
  text-align: center;
  display: block;
  width: 100%; }
